<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="<%= root_path %>"><span class="fw-bolder text-primary">Javi's Portfolio</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                      <li class="nav-item"><a class="nav-link" href="<%= root_path %>">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="<%= pages_resume_path %>">Resume</a></li>
                      <li class="nav-item"><a class="nav-link" href="<%= pages_projects_path %>">Projects</a></li>
                      <li class="nav-item"><a class="nav-link" href="<%= pages_contact_path %>">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Experience Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                          <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                          <!-- Download resume button-->
                          <!-- Note: Set the link href target to a PDF file within your project-->
                          <a class="btn btn-primary px-4 py-3" href="/documents/JavierPonzo_Resume.pdf">
                              <div class="d-inline-block bi bi-download me-2"></div>
                              Download Resume
                          </a>
                        </div>
                        <!-- Experience Card 1: Restaurant Manager -->
                        <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                  <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">09/2020 - 12/2023</div>
                                      <div class="small fw-bolder">Restaurant Manager</div>
                                        <div class="small text-muted">Green Papaya Restaurant</div>
                                          <div class="small text-muted">Costa Rica</div>
                                        </div>
                                      </div>
                                    <div class="col-lg-8">
                                  <p>Managed a team of 12, including waiters and bartenders, ensuring seamless collaboration and high-quality service. Led daily operations, resolved customer concerns, and optimized performance through team meetings and training. Developed strong skills in attention to detail, problem-solving, and communication, while maintaining a positive work environment and enhancing customer satisfaction.</p>
                                </div>
                              </div>
                          </div>
                        </div>

                        <!-- Experience Card 2: Freelance Shopify & Amazon Seller -->
                        <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                  <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">10/2022 - Present</div>
                                      <div class="small fw-bolder">Freelance Shopify & Amazon Seller</div>
                                        <div class="small text-muted">Remote</div>
                                      </div>
                                    </div>
                                  <div class="col-lg-8">
                                    <p>Designed and developed Shopify websites for small businesses, optimizing product listings and improving user experience. Managed an Amazon seller account, created and sold products, and optimized product listings through targeted keyword research and ad performance metrics. Enhanced sales by optimizing keywords for better visibility, designing product images with Canva, and analyzing sales data to drive marketing strategies and increase conversion rates.</p>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </section>
                    <!-- Divider-->
                    <div class="pb-5"></div>
                    <!-- Skills Section-->
                    <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Technical Skills</span></h3>
                                </div>

                                <!-- Frontend Skills-->
                                <div class="mb-4">
                                    <h5 class="fw-bolder">Frontend Development</h5>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">DOM Manipulation</div></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bootstrap</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                    </div>
                                </div>

                                <!-- Backend Skills-->
                                <div class="mb-4">
                                    <h5 class="fw-bolder">Backend Development</h5>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby on Rails</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                    </div>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">API Integrations</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MVC</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">RESTful APIs</div></div>
                                    </div>
                                </div>

                                <!-- E-commerce & Other Skills-->
                                <div class="mb-4">
                                    <h5 class="fw-bolder">E-commerce & Miscellaneous</h5>
                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Shopify</div></div>
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Amazon Seller</div></div>
                                        <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SEO Optimization</div></div>
                                    </div>
                                </div>
                            </div>

                            <!-- Languages list-->
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Programming Languages</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby on Rails</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



                </div>
            </div>
        </div>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
